*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
#main{
    width:100%;
}
#hero{
    width: 100%;
    height: 100vh;
    color:#fff;
    background-color:black;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color:#fff;
}
#nav a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;

}
#heading h1{
    font-family: "General Sans Medium";
    font-size: 9vw;
    text-transform: uppercase;
    font-weight:900 ;
    line-height: 1;
    op
}